<div class="header-container" ng-init='init()'>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="custom-navbar active" data-toggle="collapse" data-target="#navbar"><a href="#home">RECRUITING</a></li>
            <li class="custom-navbar" data-toggle="collapse" data-target="#navbar"><a href="#sf">SOFTWARE FACTORY</a></li>
            <li class="custom-navbar" data-toggle="collapse" data-target="#navbar"><a href="#institucional">INSTITUCIONAL</a></li>
            <li class="custom-navbar" data-toggle="collapse" data-target="#navbar"><a href="#contacto">CONTACTO</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
</div>
<div class="contacto-section-1"></div>
<div class="contacto-section-2">
	<div class="title-container">
    <h1>CONTACTO</h1>
  </div>
  <div class="title-container tc-inst reset">
    <h1>Entonces...</h1>
    <h1>¿Cuál es tu necesidad?</h1>
  </div>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="empresa" placeholder="Empresa">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="consulta" placeholder="Consulta">
    </div>
    <button type="submit" class="btn btn-default">Enviar Consulta</button>
  </form>
  <div class="container-fluid redes-sociales">
    <h3>E-MAIL</h3>
    <p>info@hvtalent.com</p>
    <h3>TELÉFONO</h3>
    <p>+54(11)5238-0354</p>
    <h3>DIRECCIÓN</h3>
    <p>Sarmiento 1337,</p>
    <p>CABA, Argentina</p>
    <h3>REDES SOCIALES</h3>
    <div class="redes-img">
      <a href="#"><img src="../img/redes-sociales/cont-fb.png"></a>
      <a href="#"><img src="../img/redes-sociales/cont-tw.png"></a>
      <a href="#"><img src="../img/redes-sociales/cont-in.png"></a>
    </div>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.94859079773!2d-58.385866985069356!3d-34.60546146509676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac578e2da45%3A0xf4c14e1b33b5a69!2sLibertad+257%2C+C1012AAE+CABA!5e0!3m2!1ses!2sar!4v1471883961397" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  <div class="footer-container">
    <footer class="wrapper">
        <div class="footer-logo-container">
            <img src="../../img/hv-logos/hv-grey.png">
        </div>
        <ul>
            <li>RECRUITING</li>
            <li>SOFTWARE FACTORY</li>
            <li>INSTITUCIONAL</li>
        </ul>
        <ul>
            <li>info@hvtalent.com</li>
            <li>+54 (11) 5238-0354</li>
            <li>Sarmiento 1337, CABA Argentina</li>
        </ul>
    </footer>
</div>
</div>