<div class="wrapper">
<div class="header-container" ng-init='init()'>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="custom-navbar active" data-toggle="collapse" data-target="#navbar"><a href="#home">RECRUITING</a></li>
            <li class="custom-navbar" data-toggle="collapse" data-target="#navbar"><a href="#sf">SOFTWARE FACTORY</a></li>
            <li class="custom-navbar" data-toggle="collapse" data-target="#navbar"><a href="#institucional">INSTITUCIONAL</a></li>
            <li class="custom-navbar" data-toggle="collapse" data-target="#navbar"><a href="#contacto">CONTACTO</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <div class="logo-container">
        <img src="../../img/hv-logos/hv-grey.png">
    </div>
</div>
<div class="main-container">
    <div class="sec section-1"></div>
    <div class="sec section-2">
        <div class="title-container">
            <h1>RECRUITING</h1>
            <h1 class="blue">/ EMPRESAS</h1>
        </div>
        
        <h3>Forma de trabajo</h3>

        <div id="carousel-empresas" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-empresas" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-empresas" data-slide-to="1"></li>
            <li data-target="#carousel-empresas" data-slide-to="2"></li>
            <li data-target="#carousel-empresas" data-slide-to="3"></li>
            <li data-target="#carousel-empresas" data-slide-to="4"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../../img/orange-icons/sinAnticipo.png">
                <p>Sin Anticipo.</p>
            </div>
            <div class="item">
                <img src="../../img/orange-icons/reconocidos.png">
                <p>Somos reconocidos por el rapido tiempo de respuesta y la calidad de los perfiles.</p>
            </div>
            <div class="item">
                <img src="../../img/orange-icons/personalizada.png">
                <p>Trabajamos de forma personalizada, eficiente y dinámica.</p>
            </div>
            <div class="item">
                <img src="../../img/orange-icons/exclusividad.png">
                <p>No pedimos exclusividad: estamos acostumbrados a competir con otras consultoras y nos hemos destacado en distintos clientes manteniendo relaciones hace años estando <b>rankeados 1° o 2°</b> sobre el resto de las consultoras.</p>
            </div>
            <div class="item">
              <img src="../../img/orange-icons/requerimiento.png">
                <p>Analizamos cuidadosamente cada requerimiento y postulamos candidatos acordes, de ésta forma nuestros clientes no pierden el tiempo.</p>
            </div>
          </div>
        </div>

        <div class="subsection">
            <h3>Nuestros servicios incluyen</h3>

        <div id="carousel-servicios" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-servicios" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-servicios" data-slide-to="1"></li>
            <li data-target="#carousel-servicios" data-slide-to="2"></li>
            <li data-target="#carousel-servicios" data-slide-to="3"></li>
            <li data-target="#carousel-servicios" data-slide-to="4"></li>
            <li data-target="#carousel-servicios" data-slide-to="5"></li>
            <li data-target="#carousel-servicios" data-slide-to="6"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../../img/green-icons/ico-home-serv-01.png">
                <p>Relevamiento de requerimientos.</p>
            </div>
            <div class="item">
                <img src="../../img/green-icons/ico-home-serv-02.png">
                <p>Redacción y publicación de avisos en fuentes de reclutamiento.</p>
            </div>
            <div class="item">
                <img src="../../img/green-icons/ico-home-serv-03.png">
                <p>Búsqueda en base de datos/redes sociales.</p>
            </div>
            <div class="item">
                <img src="../../img/green-icons/ico-home-serv-04.png">
                <p>Lectura y preselección de CVs.</p>
            </div>
            <div class="item">
              <img src="../../img/green-icons/ico-home-serv-05.png">
                <p>Entrevistas presenciales telefónicas o virtuales.</p>
            </div>
            <div class="item">
              <img src="../../img/green-icons/ico-home-serv-06.png">
                <p>Presentación y postulación de candidatos idóneos CV + Informe.</p>
            </div>
            <div class="item">
              <img src="../../img/green-icons/ico-home-serv-07.png">
                <p>Coordinación y Gestión de todas las reuniones Clientes/Candidato.</p>
            </div>
          </div>
        </div>
        </div><!--END Subsection -->

        
    </div><!--END section-2 -->
    <div class="sec section-3">
        <div class="title-container">
            <h1>RECRUITING</h1>
            <h1 class="blue">/ CANDIDATOS</h1>
        </div>  

        <div id="carousel-candidatos" class="carousel slide carousel-recruiting-candidatos" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-candidatos" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-candidatos" data-slide-to="1"></li>
            <li data-target="#carousel-candidatos" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="../../img/blue-icons/ico-home-cand-01.png">
                <p>Todas las propuestas son en relación de dependencia directa con empresas de Primer Nivel, excelentes
                    proyectos, últimas tecnologías y beneficios: Acciones de la empresa + Bonos Anuales + Estudios Universitarios
                    o Posgrados + OSDE Plan Familiar + Posibilidad de viajes a USA + Homeworking + Flex Time +
                    Clases de Inglés con Nativos de USA, etc.</p>
            </div>
            <div class="item">
                <img src="../../img/blue-icons/ico-home-cand-02.png">
                <p>Los procesos son super dinámicos. Luego de que te postules te contactaremos por mail y 
                    coordinaremos una entrevista de acuerdo a tu disponibilidad: Puede ser Call, Skype o Presencial.</p>
            </div>
            <div class="item">
                <img src="../../img/blue-icons/ico-home-cand-03.png">
                <p>Te garantizamos confidencialidad total en tu trabajo y con tus datos.
                    Para los candidatos no tiene ningun costo, es un servicio que le brindamos a las empresas;
                    ¡Pero estamos a tu servicio para asesorarte con las mejores oportunidades de carrera!</p>
            </div>
          </div>
        </div>
    </div>

    <div class="sec section-4">
        <h3>En los siguientes portales tenemos todas nuestras búsquedas publicadas. ¡Ingresá y postulate!</h3>
        <div class="logo-portales-container">
            <img src="../../img/portales/bumeran_gray.png">
        </div>
        <div class="logo-portales-container">
            <img src="../../img/portales/computrabajo_gray.png">
        </div>
    </div>

    <div class="sec section-5">
        <h3>Mirá este video para ampliar tu expertise!</h3>
        <div class="video-yt" id="video-yt">
            <div class="youtube-container">
               <div class="youtube-player" data-id="pB0WvcxTbCA"><div><img class="youtube-thumb" src="//i.ytimg.com/vi/pB0WvcxTbCA/hqdefault.jpg"><div class="play-button"></div></div></div>
            </div>
        </div>
    </div>



</div> <!-- #main-container -->

<div class="footer-container">
    <footer class="wrapper">
        <div class="footer-logo-container">
            <img src="../../img/hv-logos/hv-grey.png">
        </div>
        <ul>
            <li>RECRUITING</li>
            <li>SOFTWARE FACTORY</li>
            <li>INSTITUCIONAL</li>
        </ul>
        <ul>
            <li>info@hvtalent.com</li>
            <li>+54 (11) 5238-0354</li>
            <li>Sarmiento 1337, CABA Argentina</li>
        </ul>
    </footer>
</div>

</div><!--Wrapper-->